@import './../../../assets/sass/var.scss';

.type-in-marketplace {
    background-color: $background;

    > * {
        padding-left: 30px;
        padding-right: 30px;
    }

    > h1 {
        font-family: 'CHEDROS', sans-serif;
        font-weight: bold;
        position: relative;
        top: -2rem;
        font-size: 2rem;
        color: $primary;
        text-align: center;
    }

    > .description {
        font-family: 'Config Rounded', sans-serif;
        text-align: center;
        margin-top: 1rem;
        padding-left: 40px;
        padding-right: 40px;
    }

    > .labels {
        display: flex;
        justify-content: center;
        margin-top: 40px;
    }

    > .items {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
}

// desktop
@media (min-width:800px) {
    .type-in-marketplace {
        padding-top: 120px;
        max-width: 1400px;
        margin: auto;
        margin-bottom: 40px;

        > .items {
            > .mobile {
                display: none;
            }

            display: flex;
            flex-direction: row;
            flex-wrap: wrap;

            > .desktop {
                flex-basis: auto;
                background-color: white;
                border-radius: 10px;
                position: relative;
                width: 250px;
                padding-top: 250px;
                cursor: pointer;

                img {
                    width: 250px;
                    height: 250px;
                    position: absolute;
                    top: 0;
                    left: 0;
                    right: 0;
                }

                .infos {
                    padding: 15px;

                    .name {
                        font-family: 'CHEDROS', sans-serif;
                        font-weight: bold;
                        font-size: 1.4rem;
                    }

                    .rarity {
                        margin-top: 0.6rem;
                        font-family: 'CHEDROS', sans-serif;
                        font-weight: bold;
                        color: $primary;
                    }
                }
            }
        }
    }
}