@import './../../../assets/sass/var.scss';

.navbar {
    background-color: white;
    border-radius: 9999px;
    padding: 25px 40px;
    position: fixed;
    bottom: 25px;
    left: 50%;
    transform: translateX(-50%);

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 30px;

    z-index: 40;

    .navItem {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: relative;

        .icon {
            fill: $primary;
            width: 25px;
            max-height: 25px;
        }

        &.marketIcon {
            .icon {
                max-height: 26px;
            }
        }

        &.labIcon {
            .icon {
                max-height: 23px;
            }
        }

        p {
            display: none;

            text-align: center;
            color: $dark;
            font-family: 'CHEDROS', sans-serif;
            position: absolute;
            top: 15px;
            margin-top: 10px;
            font-weight: bold;
        }

        p:before {
            content: "";
            display: inline-block;
            height: 6px;
            width: 6px;
            border-radius: 10px;
            background-color: $primary;
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
            top: -9px;
        }

        &.active {
            .icon {
                position: relative;
                top: -12px;
            }

            p {
                display: inline-block;
            }
        }
    }
}


#desktop-header {
    display: none;
    padding: 15px 40px;

    header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: white;
        border-radius: 9999px;
        padding: 15px 45px;

        .left {
            display: flex;
            align-items: center;
            gap: 40px;

            > img {
                height: 40px;
            }

            nav {
                position: relative;
                bottom: -0.2rem;
                display: flex;
                align-items: center;
                gap: 25px;


                .item {
                    font-family: 'CHEDROS', sans-serif;
                    font-size: 1.3rem;
                    font-weight: bold;
                }
            }
        }


        .right {
            display: flex;
            align-items: center;
            gap: 15px;

            .social {
                display: flex;
                gap: 10px;

                .icon {
                    overflow: hidden;
                    border-radius: 9999px;
                    border: $primary 2px solid;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    width: 30px;
                    height: 30px;

                    svg {
                        fill: $primary;
                        width: 15px;
                    }
                }
            }

            .profile {
                overflow: hidden;
                border-radius: 9999px;
                border: $primary 2px solid;

                img {
                    height: 45px;
                    width: 45px;
                    object-fit: cover;
                }
            }
        }
    }
}

// desktop
@media (min-width:800px) {
    .navbar {
        display: none;
    }

    #desktop-header {
        display: block;
        width: 100%;
    }
}