@import "./../../assets/sass/var.scss";
@import "./../../assets/sass/theme.scss";

#launchpadVente {
    background-color: $background;

    .top-page {
        min-height: 100vh;
        padding: $layout_padding;

        background-image: url("./../../assets/img/Hero_image_Stacking_mobile.jpg");
        background-size: cover;
        background-position: center center;
        text-align: center;

        img {
            height: 52px;
            margin: 20px 0 80px;
        }
        color: white;

        h1 {
            font-family: "CHEDROS", sans-serif;
            letter-spacing: 2px;
            font-size: 2rem;
            font-weight: 700;
            text-transform: uppercase;
            text-align: center;
            line-height: 1;
            text-align: center;
            line-height: 120%;
        }
        .cta{
            position:absolute;
            bottom: 126px;
            left: 50%;
            transform: translateX(-50%);
            width: 100%;
            p{
                font-family: "Config Rounded", sans-serif;
                font-size: 1.3rem;
                max-width: 260px;
                margin: auto;
                line-height: 120%;
                margin-bottom: 10px;
            }
            button {
                margin: auto;
                padding: 19px 39px;
            }
        }
        &::after {
            content: "";
            background: linear-gradient(to top, #041836eb 0%, transparent 100%);
            width: 100vw;
            height: 12vh;
            position: absolute;
            bottom: 0;
            left:0;
            z-index: 1;
        }
    }

    .rewards{
        padding: $layout_padding;

        >div{
            text-align: center;
            position: relative;
            border-radius: $radius;
            background-color: white;
            img{
                position: absolute;
                top: 0;
                left: 50%;
                transform: translate(-55%, -50%);
            }
            h2{
                font-family: "CHEDROS", sans-serif;
                font-weight: 900;
                font-size: 3.1rem;
            }
            >span{
                font-family: "Config Rounded", sans-serif;
                display: block;
                font-weight: 700;
                font-size: 2.1rem;
                margin: 10px 0 29px;
                color:$primary;
            }
            
        }
        .claim{
            margin-top: 170px;
            padding:90px 32px 17px;
            img{
                width:400px;
            }
            button{
                margin:auto;
                margin-bottom: 15px;
                padding: 20px 43px;
            }
            a{
                font-family: "Config Rounded", sans-serif;
                letter-spacing: 0;
                font-weight: bold;
                color: #ACBBEE;
                font-size: 1.3rem;
                span{
                    position: relative;
                    display:inline-block;
                    margin-left: 17px;
                    font-size: 1.1rem;
                    font-weight: 600;
                    &::after{
                        content:'';
                        position: absolute;
                        inset:50%;
                        transform: translate(-50%, -50%);
                        border: 2px solid;
                        border-radius: 100%;
                        width: 22px;
                        height: 22px;
                    }
                }
                &:hover{
                    color:$primary;
                }
            }
        }
        .staked{
            margin: 140px 0 110px;
            padding:100px 32px 17px;
            img{
                width: 170px;
            }
        }
    }
    --padding-section: 37px;
    .stake-list{
        >p{
            font-family: "CHEDROS", sans-serif;
            text-align: center;
            font-size: 1.2rem;
            margin-bottom: 20px;
            font-weight: 700;
            font-size: 1.5rem;
            text-transform: uppercase;
            span{
                position: relative;
                display: inline-block;
                color:white;
                z-index: 1;
                margin: 0 10px;
                &::after{
                    content:'';
                    position: absolute;
                    inset:50%;
                    transform: translate(-50%, -56%);
                    background-color: $primary;
                    border-radius: 100%;
                    width: 28px;
                    height: 28px;
                    z-index: -1;
                }
            }
        }
        
        > .content {
            display: flex;
            overflow: auto;
            gap:18px;
            padding-right: var(--padding-section);
            padding-left: var(--padding-section);
            padding-bottom: 15px;

            >div{
                min-width: 250px;
            }

            &::-webkit-scrollbar-track {
                margin: var(--padding-section);
            }
        }
    }
    .accessories{
        margin-top: 60px;
        padding: $layout_padding;
        h2{
            font-family: "CHEDROS", sans-serif;
            font-weight: 700;
            text-transform: uppercase;
            text-align: center;
            span{
                color:$primary;
            }
        }
        .accessories-list{
            display: flex;
            overflow: auto;
            gap:18px;
            padding-right: var(--padding-section);
            padding-bottom: 15px;

            &::-webkit-scrollbar-track {
                margin: var(--padding-section);
            }
        }
        .img-container{
            text-align: center;
            margin-bottom: 20px;
            img{
                width: 100%;
                margin-top: 62px;
                transform: scale(1.35);
                max-width: 350px;
            }
        }
    }
}

// desktop
@media (min-width: $desktop_min_width) {
    #launchpadVente {
        .top-page {
            position: relative;
            padding-top: 100px;
            background-image: url("./../../assets/img/launchpad_hero_page.jpg");
            // background-attachment: fixed;
            // background-position: calc(50vh + 77vw) center;
            background-size: cover;
            background-position-x: center;
            background-position-y: center;
            min-height: 100vh;
            text-align: center;
            img {
                display: none;
            }
        }
    }
}
