@import "assets/sass/var.scss";

.actions {
    margin-top: 15px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 10px;

    &.in-market {
        flex-direction: column;
        gap: 5px;

        p {
            font-family: "Config Rounded", sans-serif;
            color: #080d2680;
        }
    }
}

hr {
    border-top: 1px solid #080d2680;
    margin-left: 30px;
    margin-right: 30px;
}

// desktop
@media (min-width: $desktop_min_width) {
    .actions {
        grid-area: actions;
    }

    .activity {
        grid-area: activity;
    }
}
