@import "./../../assets/sass/var.scss";

body {
    background-image: url("./../../assets/img/main-background.png");
    background-size: cover;
    background-position: calc(50vh + 50vw) center;
    background-attachment: fixed;
}

.customize {
    margin-bottom: 50px;

    .content {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 25px;
        gap: 20px;

        .items {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: 24px;

            .item {
                border-radius: 999px;
                background-color: white;
                width: 43px;
                height: 43px;
                position: relative;

                background-position: center;
                background-repeat: no-repeat;
                background-size: 70%;
                cursor: pointer;

                > img {
                    max-width: 100%;
                    border-radius: 9999px;
                }

                &.filled {
                    background-color: transparent;
                }

                &::before {
                    content: "";
                    position: absolute;
                    $diff: 7px;
                    top: -$diff;
                    left: -$diff;
                    right: -$diff;
                    bottom: -$diff;
                    background-color: transparent;
                    border-radius: 999px;
                    border: 3px solid $primary;
                }

                &.hat {
                    background-image: url("./../../assets/img/icons/hat.svg");
                }

                &.eyes {
                    background-image: url("./../../assets/img/icons/eyes.svg");
                }

                &.clothes {
                    background-image: url("./../../assets/img/icons/clothes.svg");
                }

                &.beak {
                    background-image: url("./../../assets/img/icons/beak.svg");
                }

                &.skin {
                    background-image: url("./../../assets/img/icons/skin.svg");
                    background-size: 90%;
                    background-position: center bottom;
                }

                &.weapon {
                    background-image: url("./../../assets/img/icons/weapon.svg");
                    transform: rotate(20deg);
                    background-size: 60%;
                }

                &.background {
                    background-image: url("./../../assets/img/icons/background.svg");
                }
            }
        }
    }

    .reset {
        margin-top: 25px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .controls {
        margin-top: 25px;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 20px;
    }
}

// desktop
@media (min-width: 800px) {
    body {
        background-position: center;
    }

    #body-content {
        display: grid;
        grid-template-areas:
            "popup head"
            "popup customize";
        grid-template-columns: 4fr 6fr;
        grid-gap: 40px;
        padding: 0 40px;

        max-height: calc(100vh - 109px);
        height: 100vh;

        padding-top: 120px;
    }

    .customize {
        grid-area: customize;
        margin-bottom: 0;

        .content {
            justify-content: center;
            gap: 50px;

            .items {
                .item {
                    width: 60px;
                    height: 60px;
                }
            }
        }
    }
}