@import "./../../../assets/sass/var.scss";
@import "./../../../assets/sass/theme.scss";

.all-items {
    position: absolute;
    top: 160px;
    bottom: -15px;
    left: 0;
    right: 0;
    padding: 15px;
    width: 100%;
    padding-bottom: 120px;

    &.has-filter {
        top: 200px;
    }

    > h2 {
        display: none;
        color: #080d26;
        font-family: "CHEDROS", sans-serif;
        font-weight: bold;
    }

    > .content {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 10px;
        overflow: auto;
        height: 100%;

        @extend .custom-scrollbar;

        .item {
            position: relative;
            border-radius: 10px;
            overflow: hidden;
            flex-basis: calc(50% - 5px);

            img {
                width: 100%;
                z-index: 0;
            }

            .name {
                position: absolute;
                bottom: 6%;
                left: 10%;
                right: 0;
                color: white;
                font-family: "CHEDROS", sans-serif;
                font-weight: bold;
                font-size: 1.4rem;
                z-index: 2;
            }

            .count {
                position: absolute;
                top: 8px;
                right: 8px;
                color: white;
                background-color: $primary;
                border-radius: 99px;
                width: 1.8rem;
                height: 1.8rem;
                display: flex;
                justify-content: center;
                align-items: center;

                font-family: "Config Rounded", sans-serif;
                font-size: 1.1rem;
                font-weight: normal;
            }

            &:hover {
                cursor: pointer;
            }

            &::after {
                content: "";
                position: absolute;
                left: 0;
                right: 0;
                bottom: 0;
                height: 30%;
                background: linear-gradient(to top, #080d26ff 0%, #080d2600 100%);
                z-index: 1;
            }
        }
    }

    &.eggs {
        > .content {
            .item {
                background-color: white;

                .name {
                    color: #080d26;
                    bottom: 6%;
                    left: 0;
                    right: 0;
                    text-align: center;
                }

                &::after {
                    background: linear-gradient(to top, #e9eef2ff 0%, #e9eef200 100%);
                }
            }
        }
    }

    &.items {
        > .content {
            .item {
                background-image: url("./../../../assets/img/Grey_penguin.png");
                background-position: center;
                background-size: cover;
                background-repeat: no-repeat;
                background-color: white;

                .name {
                    color: #080d26;
                    bottom: 6%;
                    left: 0;
                    right: 0;
                    text-align: center;
                }

                &::after {
                    background: linear-gradient(to top, #e9eef2ff 0%, #e9eef200 100%);
                }
            }
        }
    }
}

// desktop
@media (min-width: $desktop_min_width) {
    .all-items {
        display: flex;
        flex-direction: column;
        position: relative;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        padding-bottom: 0;

        &.has-filter {
            top: 0;
        }

        > h2 {
            display: block;
            width: 100%;
        }

        > .content {
            position: relative;
            top: 0;
            margin-top: 15px;
            gap: 15px;

            .item {
                flex-basis: auto;
                width: 250px;
                height: 250px;
            }
        }
    }
}
