@import "./../../../assets/sass/var.scss";

.category-item {
    display: flex;
    gap: 7px;
    align-items: center;
    justify-content: center;
    padding: 10px 5px 10px 20px;

    background-color: white;
    border-radius: 8px;

    &:hover {
        text-decoration: none;
    }

    .right {
        h3 {
            margin-left: 5px;
            color: $primary;
            font-family: "CHEDROS", sans-serif;
            font-weight: bold;
            font-size: 2rem;
            margin-bottom: 5px;
        }

        .button {
            white-space: nowrap;
        }
    }

    .left {
        img {
            max-height: 100px;
        }
    }
}
