@import './../../../assets/sass/var.scss';

#item-in-marketplace {
    padding-bottom: 30px;
    background-color: $background;

    > * {
        padding-left: 30px;
        padding-right: 30px;
    }

    > .thumbnail {

        img {
            width: 100%;
            border-radius: 10px;
        }
    }

    > .infos {
        margin-top: 15px;
        display: flex;
        gap: 30px;

        .right {
            overflow: auto;

            .name {
                font-family: 'CHEDROS', sans-serif;
                font-size: 1.8rem;
                font-weight: bold;
            }

            .price {
                margin-top: 0.3rem;
                font-family: 'Config Rounded', sans-serif;
                font-size: 1.2rem;
                font-weight: bold;
                color: $primary;
            }

            .owner-title {
                margin-top: 0.5rem;
                font-family: 'Config Rounded', sans-serif;
                font-size: 1.1rem;
                font-weight: 300;
                color: #080D2680;
            }

            .owner {
                margin-top: 0.3rem;
                font-family: 'Config Rounded', sans-serif;
                font-weight: bold;
                width: 100%;
                overflow: hidden;
                text-overflow: ellipsis;
            }
        }

        .left {
            .rank {
                font-family: 'Config Rounded', sans-serif;
                font-size: 1rem;
                font-weight: 300;
                white-space: nowrap;
                color: #080D2680;
            }

            .rarity-score {
                font-family: 'Config Rounded', sans-serif;
                font-size: 1rem;
                font-weight: bold;
                white-space: nowrap;
                color: #080D2680;
            }
        }
    }

    > .buy {
        display: flex;
        justify-content: center;
        margin-top: 30px;

        h2,
        .price,
        .desktop {
            display: none;
        }
    }

    > .item-and-activity {
        margin-top: 40px;
    }

    .buying-popup {
        section {
            display: flex;
            flex-direction: column;

            h2 {
                font-family: 'CHEDROS', sans-serif;
                font-size: 2rem;
                font-weight: bold;
                text-align: center;
                margin-bottom: 10px;
            }

            img {
                border-radius: 10px;
                max-width: 200px;
                align-self: center;
            }

            &:last-of-type {
                align-items: center;

                h2,
                .items-attached,
                > .infos {
                    display: none;
                }

                > h3 {
                    font-family: 'CHEDROS', sans-serif;
                    font-weight: bold;
                    font-size: 1.4rem;
                    margin-bottom: 5px;
                }

                .price {
                    background-color: white;
                    border-radius: 999px;
                    padding: 10px 40px;
                    font-family: 'Config Rounded', sans-serif;
                    color: $primary;
                    font-weight: bold;
                    font-size: 1.5rem;
                }

                .button {
                    margin-top: 25px;
                    min-width: 100px;
                }
            }
        }

        &.item {
            section {
                &:first-of-type {
                    align-items: stretch;


                    .infos {
                        margin-top: 30px;
                        display: flex;
                        flex-direction: column;
                        gap: 10px;

                        .line {
                            display: flex;
                            justify-content: space-between;

                            .label {
                                font-family: 'Config Rounded', sans-serif;
                                font-size: 1.1rem;
                                font-weight: 300;
                            }

                            .value {
                                font-family: 'Config Rounded', sans-serif;
                                font-size: 1.1rem;
                                font-weight: 500;
                            }
                        }
                    }
                }
            }
        }

        &.penguin {
            section {
                &:first-of-type {
                    h2 {
                        margin-bottom: 20px;
                    }

                    .infos {
                        display: flex;
                        flex-direction: row;
                        gap: 10px;
                        justify-content: space-between;

                        img {
                            flex: 1;
                            overflow: auto;
                        }

                        .infos {
                            display: flex;
                            flex-direction: column;
                            justify-content: flex-start;
                            gap: 10px;

                            .line {
                                display: flex;
                                justify-content: space-between;
                                gap: 10px;

                                .label {
                                    font-family: 'Config Rounded', sans-serif;
                                    font-size: 1.1rem;
                                    font-weight: 300;
                                    white-space: nowrap;
                                }

                                .value {
                                    font-family: 'Config Rounded', sans-serif;
                                    font-size: 1.1rem;
                                    font-weight: 500;
                                    white-space: nowrap;

                                    &.owner {
                                        overflow: hidden;
                                        text-overflow: ellipsis;
                                        max-width: 50px;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }

        .items-attached {
            margin-top: 30px;

            h3 {
                font-family: 'Config Rounded', sans-serif;
                font-size: 1.2rem;
                font-weight: bold;
                text-align: center;
                margin-bottom: 1rem;
            }

            .content {
                display: grid;
                grid-template-columns: repeat(auto-fit, minmax(220px, auto));
                grid-gap: 10px;
            }
        }
    }
}

// desktop
@media (min-width:800px) {
    body {
        background-image: none !important;
    }

    #item-in-marketplace {
        min-height: 100vh;
        padding-top: 120px;
        max-width: 1400px;
        margin: auto;

        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-areas:
            "img infos"
            "img activity"
            "img buy"
            "img .";
        grid-gap: 10px;
        align-items: start;


        > .thumbnail {
            grid-area: img;
            display: flex;
            justify-content: center;
            align-items: center;

            img {
                max-height: 80vh;
                width: auto;
            }
        }

        > .infos {
            grid-area: infos;
            margin-top: 0;
        }

        > .buy {
            margin-top: 40px;
            grid-area: buy;
            background-color: white;
            border-radius: 10px;
            padding: 20px;
            justify-self: center;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            min-width: 60%;

            h2,
            .price,
            .desktop {
                display: block;
            }

            .mobile {
                display: none;
            }

            h2 {
                font-family: 'CHEDROS', sans-serif;
                font-size: 1.8rem;
                font-weight: bold;
            }

            .price {
                font-family: 'Config Rounded', sans-serif;
                font-size: 1.8rem;
                font-weight: bold;
                color: $primary;
            }

            .button {
                margin-top: 20px;
                min-width: 70%;
            }
        }

        > .item-and-activity {
            grid-area: activity;
            margin-top: 0;
        }


        .buying-popup {
            section {
                &:first-of-type {
                    align-items: center;
                    justify-content: center;

                    h2 {
                        display: none;
                    }

                    .infos {
                        img {
                            max-height: 60vh;
                            max-width: none;
                        }

                        .infos {
                            display: none !important;
                        }
                    }

                    .items-attached {
                        display: none;
                    }
                }

                &:last-of-type {
                    overflow: auto;
                    flex: 0.6;

                    h2 {
                        display: block;
                    }

                    > .infos {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        gap: 10px;

                        .line {
                            background-color: white;
                            border-radius: 6px;
                            width: 150px;
                            display: flex;
                            flex-direction: column;
                            justify-content: center;
                            align-items: center;
                            gap: 7px;
                            padding: 10px 20px;

                            .label {
                                font-family: 'Config Rounded', sans-serif;
                                font-size: 1.1rem;
                                font-weight: 400;
                                color: #080D2680;
                            }

                            .value {
                                font-family: 'Config Rounded', sans-serif;
                                font-size: 1.1rem;
                                font-weight: bold;

                                &.owner {
                                    overflow: hidden;
                                    text-overflow: ellipsis;
                                    max-width: 100%;
                                }
                            }
                        }
                    }

                    .items-attached {
                        display: block;
                        width: 100%;
                    }

                    > h3 {
                        margin-top: 30px;
                        color: $primary;
                    }

                    .button {
                        min-height: 2rem;
                    }
                }
            }

        }
    }
}