@import "./../../../assets/sass/var.scss";

.item-in-type-in-marketplace {
    background-color: $background;

    > * {
        padding-left: 30px;
        padding-right: 30px;
    }

    > h1 {
        font-family: "CHEDROS", sans-serif;
        font-weight: bold;
        position: relative;
        top: -2rem;
        font-size: 2rem;
        color: $primary;
        text-align: center;
    }

    > .description {
        font-family: "Config Rounded", sans-serif;
        text-align: center;
        margin-top: 1rem;
        padding-left: 40px;
        padding-right: 40px;
    }

    > .labels {
        display: flex;
        justify-content: center;
        margin-top: 40px;
        gap: 15px;
    }

    > .items {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 10px;
    }
}

// desktop
@media (min-width: 800px) {
    .item-in-type-in-marketplace {
        padding-top: 120px;
        max-width: 1400px;
        margin: auto;
        margin-bottom: 40px;

        > .items {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
        }
    }
}
