@import './../../assets/sass/var.scss';

.rounded-list {
    display: flex;
    gap: 5px;
    align-items: center;
    position: relative;

    overflow-y: hidden;
    padding-right: 30px;

    .item {
        border-radius: 999px;
        padding: 5px 15px;

        display: flex;
        gap: 5px;
        align-items: center;

        font-family: 'Config Rounded';
        font-weight: 600;

        cursor: pointer;

        border: white solid 1px;

        &.current {
            background-color: white;

            .name {
                color: $primary;
            }

            .number {
                color: #5078DF88;
            }
        }

        .name {
            color: white;
            white-space: nowrap;
        }

        .number {
            color: #ffffff88;
        }
    }
}