@import "assets/sass/var.scss";

.item {
    background-color: white;
    border-radius: 8px;

    display: flex;
    align-items: center;
    justify-content: space-between;

    .infos {
        margin: 1rem;
        color: $primary;

        .name {
            font-family: "CHEDROS", sans-serif;
            font-size: 1.3rem;
            font-weight: bold;
            white-space: nowrap;
        }

        .id {
            font-family: "Config Rounded", sans-serif;
            font-weight: bold;
        }

        .rarity {
            margin-top: 0.6rem;
            font-family: "CHEDROS", sans-serif;
            font-weight: bold;
        }
    }

    .thumbnail {
        img {
            height: 5.9rem;
            border-radius: 8px;
        }
    }
}
