@import './../../assets/sass/var.scss';

.nav {
    position: relative;

    h2 {
        display: none;
    }

    .content {
        display: flex;
        gap: 5px;
        align-items: center;
        position: relative;

        overflow-y: hidden;

        .sort {
            background-color: $primary;
            border-radius: 999px;
            height: 2rem;
            width: 2rem;
            min-width: 2rem;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-right: 5px;

            .icon-sort {
                fill: white;
                width: 0.8rem;
                height: auto;
            }
        }

        .filter {
            border-radius: 999px;
            padding: 5px 15px;

            display: flex;
            gap: 5px;
            align-items: center;

            font-family: 'Config Rounded';
            font-weight: 600;
        }

        .filter.select-filter {
            background-color: $primary;
            margin: 0 5px;

            svg {
                stroke: white;
                width: 1.2rem;
                margin-right: 5px;
            }

            .name,
            .number {
                color: white;
            }

        }

        .filter {
            border: #284A8B solid 1px;

            .name {
                color: #284A8B;
            }

            .number {
                color: #284b8b88;
            }
        }
    }

    &::after {
        content: '';
        position: absolute;
        bottom: 0;
        right: 0;
        top: 0;
        width: 80px;
        background: linear-gradient(to left, #E0E9F6 0%, #E0E9F600 100%);
        pointer-events: none;
    }

    .reset-filter {
        background-color: #5078DF;
        border-radius: 999px;
        height: 2rem;
        width: 2rem;
        min-width: 2rem;
        display: flex;
        justify-content: center;
        align-items: center;

        position: absolute;
        top: 0;
        right: -0.5rem;
        z-index: 1;

        .icon {
            fill: white;
            width: 0.8rem;
            height: auto;
        }

        &.desktop {
            display: none;
        }
    }
}

// desktop
@media (min-width:800px) {
    .nav {
        h2 {
            display: block;
            font-family: 'Config Rounded', sans-serif;
            font-weight: bold;
            font-size: 1.4rem;
            text-transform: uppercase;
            margin-bottom: 0.5rem;
        }

        > .content {
            flex-wrap: wrap;
            gap: 8px 5px;
            overflow-y: unset;

            .attribute-info {
                &::after {
                    content: none;
                }

                .scrolling {
                    flex-wrap: wrap;
                }
            }
        }

        .reset-filter {
            position: relative;
            right: 0;
            margin-left: 5px;

            &.mobile {
                display: none;
            }

            &.desktop {
                display: flex;
            }
        }

        &::after {
            content: none;
        }
    }
}