.selectedTiers {
    gap: 3px;
    display: flex;
    flex-direction: row;
}

.popup {
    align-items: flex-start !important;
    $padding: 40px;
    padding-left: $padding !important;
    padding-right: $padding !important;
    padding-top: 20px !important;
}

.filtersContainer {
    width: 100%;

    .filter {
        width: 100%;

        &:last-child {
            hr {
                display: none;
            }
        }
    }
}
