/* Colors
-------------------------------------------------- */
$primary: #5078DF;
$primary2:#5977de;
$primary-dark: #284A8B;
$dark: #080D26;
$background: #E9EEF2;
$red: #E26E4F;
$green: #2D9565;
$grey: #EAEEF2;

/* Spacing
-------------------------------------------------- */
$layout_padding: 25px 37px;